NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
ASTRAPAY_SANDBOX_CLIENT_ID=your_astrapay_client_id
ASTRAPAY_SANDBOX_CLIENT_SECRET=your_astrapay_client_secret
